<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Items | Drone</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    
    <%- include('partials/homeHeader') %>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="drone-tail-component">
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/shop/items" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6 mb-4">
                    <a href="/drone" style="font-size: 26px;text-decoration: none; color: #ffffff;">
                        <div class="drone-item-shop-item">
                            <div class="mb-4">
                                <span>Item 1</span>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
    </header>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
</body>

</html>